<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>키니즈 ID서비스를 사용하려면 &apos;카메라&apos; 접근권한을 허용해야 해요.</string>
	<key>NSCameraUsageDescription</key>
	<string>키니즈 ID서비스를 사용하려면 &apos;카메라&apos; 접근권한을 허용해야 해요.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-SemiBold.otf</string>
		<string>Pretendard-Medium.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
